

body {
    margin: 0;
}


.title {
    margin: auto;
    margin-top: 5px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.body {
    background-color: black;
}