

/* Configure the game grid */
.grid {
    border: 2px solid;
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    width: 140px;
    margin: auto;
}


/* Configure the game board */
.grid div {
    height: 20px;
    width: 20px;
}


/* No player has black tokens */
.no-player {
    background-color: black;
    border-radius: 10px;
}


/* Player one has red tokens */
.player-one {
    background-color: red;
    border-radius: 10px;
}


/* Player two has blue tokens */
.player-two {
    background-color: blue;
    border-radius: 10px;
}


#player-text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#result {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#info {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}